/* Navbar Styles */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
    width: 90%;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .navbar-item {
    margin: 0 10px;
    transition: all 0.3s ease;

  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;

  }
  .navbar-item a:hover{
    color: wheat;
  }
  .navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 30px;
      left: 0;
      width: 90%;
      background-color: #333;
      padding: 20px;
      text-align: center;
      transition: all 0.3s ease;
    }
    
    .navbar-menu.active {
      display: flex;
      transition: all 0.3s ease;

    }
    
    .navbar-toggle {
      display: block;
      transition: all 0.3s ease;

    }
    
    .navbar-item {
      margin: 10px 0;
    }
  }
  